{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/organisms",
		"^@/components/molecules",
		"^@/components/atoms",
		"^@/hooks/(.*)$",
		"^@/helpers/(.*)$",
		"^@/services/(.*)$",
		"^@/types/(.*)$",
		"^@/store/(.*)$",
		"^@/assets/(.*)$",
		"^../(/*)",
		"^./(/*)"
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
